body{
	margin: 0px;
	padding: 0px;
	height: 600px;
	background: linear-gradient(45deg,#f12711,#f5af19);
	/* background-image: url(img/12.jpg); */
	background-attachment: fixed;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	/* display: grid; */
	height: 100vh;
	place-items: center;
}
#time{
	font-family: "黑体";
	color: white;
}
#incomming{
	font-family: "黑体";
	color: white;
}
#tempInc{
	font-family: "微软雅黑 Light";
	color: white;
}
input{
	border: none;	
	border-radius: 5px;
	font-family: "微软雅黑";
	color:black;
	background-color: white;
	cursor: pointer;
	outline: none;
	padding:5px 10px;
}
canvas{
	background:white;
	/* filter: blur(5px); */
	border-radius: 5px;
	text-align:center;
	/* clear:both; */
	position:absolute;
	top:200px;
	left:31%;
	/* height: 460px;
	width: 600px; */
	width : 600px;
	height : 400px
}
